.rowGallery {
    height:300px;
    background-color: pink;
}

.rowGallery2 {
    height:300px;
    background-color: rgb(193, 192, 255);
}
.btnLayout:hover {
color:blue !important;
}

.btnLayout.active {
    color: blue !important; /* Color azul cuando está activo */
}